#content {
	width: 95%;
	margin: 0 auto;
}

.month {
	width: 16.66666667%;
	float: left;
}

.week_end {
	background: #c9fbcf;
}

table {
	border-collapse: collapse;
	padding: 3px;
}

td {
	padding: 5px;
	text-align: center;
	font-size:0.8em;
}

#my_rdv {
	position: relative;
/* 	top: 10; */
/* 	left: 10; */
}

#new_rdv {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

ul.rdv li {
	list-style:none;
}

ul.rdv img {
	margin-right:5px;
}

input.add_rdv {
	position:absolute;
	top:0px;
	right:50px;
}