<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/jquery-ui-1.8.21.custom.css'}" />
<!--             <link rel="stylesheet" type="text/css" media="screen"  -->
<!--             href="@{'/public/stylesheets/reset.css'}" /> -->
            <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" 
            href="@{'/public/images/favicon.png'}" />
             <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="utf-8"></script>
             <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="${_response_encoding}"></script>
             <script src="@{'/public/javascripts/jquery-ui-1.8.21.custom.min.js'}" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
    for (String i : tmp_map.keySet()){
//			System.out.println(i + "::" +tmp_map.get(i));

t.row(key).get(1)

    	Welcome to my Calendar
    	<hr /><div id = "content">
    	#{list items: listeMonths, as : 't'}
	    	#{list items : t.rowKeySet(), as : 'key'} 
		    	#{if key.split('/')[0] == "1"}
			    	</table></div><div class="month"><table border="1" width="100%">
			    	<tr><td colspan="3" font-weight:bold;">${key.split('/')[2].capFirst()} ${key.split('/')[3]}</td></tr>
		    	#{/if}
		    	<tr 
		    	#{if key.split('/')[1] == "S" || key.split('/')[1] == "D"}
		    		class="week_end"
		    	#{/if}
	    		><td>${key.split('/')[0]}</td><td>${key.split('/')[1]}</td>
				<td  class="day" id="${key.split('/')[0]}/${key.split('/')[2]}" width="50%">
				#{list items: t.row(key).get(1).keySet(), as: 'rdv'}
				${rdv.split('/')[1]}
				#{/list}
				
				</td>
				</tr>
			#{/list}
		#{/list}
		</table></div>
		</div>
		<div id="rdv"></div>
		<div id="current_date" style"display:none"></div>
        #{doLayout /} 
    </body>
</html>