<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/jquery-ui-1.8.21.custom.css'}" />
<!--             <link rel="stylesheet" type="text/css" media="screen"  -->
<!--             href="@{'/public/stylesheets/reset.css'}" /> -->
            <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" 
            href="@{'/public/images/favicon.png'}" />
             <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="utf-8"></script>
             <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="${_response_encoding}"></script>
             <script src="@{'/public/javascripts/jquery-ui-1.8.21.custom.min.js'}" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
    	Welcome to my Calendar
    	<hr /><div id = "content">
    	
    	#{list items: listeMonths, as : 't'}
	    	#{list items : t.rowKeySet(), as : 'key'} 
		    	#{if t.row(key).get(1) == "01"}
			    	</table></div><div class="month"><table border="1" width="100%">
			    	<tr><td colspan="3" font-weight:bold;">${t.row(key).get(3)}</td></tr>
		    	#{/if}
		    	<tr 
		    	#{if t.row(key).get(2) == "S" || t.row(key).get(2) == "D"}
		    		class="week_end"
		    	#{/if}
	    		><td>${t.row(key).get(1)}</td><td>${t.row(key).get(2)}</td>
				<td  class="day" id="${t.row(key).get(1)}/${t.row(key).get(3)}" width="50%"></td>
				</tr>
			#{/list}
		#{/list}
		</table></div>
		</div>
		<div id="rdv"></div>
		<div id="current_date" style"display:none"></div>
        #{doLayout /} 
    </body>
</html>